<form action="<%=ST.ACTION.addData%>" id="js-data-form-validate" method="">
    <table class="table table-listing table-hovered" style="width:550px;">
        <tbody>
            <tr>
                <td class="span5">
                    <em class="text-red">
                        *
                    </em>
                    <%=typename%>名称：
                </td>
                <td>
                    <input class="input input-small" data-rules="required" name="key" type="text" value="<%=name%>">
                    </input>
                </td>
            </tr>
            <tr>
                <td class="span4">
                	<em class="text-red">
                        *
                    </em>
                    业务线类型：
                </td>
                <td>
                    <label class="pr10">
                        <input <%= btype == 0 ? 'checked' : '' %> class="js-status" name="btype" type="radio" value="0">
                            内部业务线
                        </input>
                    </label>
                    <label class="pr10">
                        <input <%= btype == 1 ? 'checked' : '' %> class="js-status" name="btype"  type="radio" value="1">
                            外部业务线
                        </input>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="span4">
                    <%=typename%>描述：
                </td>
                <td>
                    <textarea cols="50" id="" name="remark" rows="5"><%=detail%></textarea>
                </td>
            </tr>
            <tr>
                <td class="span5">
                </td>
                <td>
                    <input name="type" type="hidden" value="<%=type%>">
                        <input name="id" type="hidden" value="<%=id%>">
                            <input class="btn btn-blue" type="submit" value="确定">
                                <a class="btn js-add-data-type-n" href="javascript:;">
                                    取消
                                </a>
                            </input>
                        </input>
                    </input>
                </td>
            </tr>
        </tbody>
    </table>
</form>