 <form method="post" id="js-form-validate" onsubmit="return false"  action="<%=ST.ACTION.formAction%>" ajaxpost="true">
<table class="table table-listing">
    <tbody>
        <tr>
            <td class="span4"><em class="text-red">* </em>真实姓名：</td>
            <td class="span4" style="width: 230px"><input value="<%=data.data.real_name%>" class="input pull-left input-small" placeholder="请输入角色名称" maxlength="30" name="real_name" type="text" data-rules="required" <%=(data.data.is_system==1?"disabled":"")%>></td>
            <td class="span4"><em class="text-red">* </em>登录用户名：</td>
            <td ><input class="input input-small" placeholder="请输入角色名称" maxlength="30" value="<%=data.data.login_name%>" name="login_name" type="text" data-rules="required"  <%=(data.data.is_system==1?"disabled":"")%>></td>
        </tr>
        <tr>
            <td class="span4"><em class="text-red">* </em>初始密码：</td>
            <td class="span4" style="width: 230px"><input class="input pull-left input-small" placeholder="请输入角色名称" maxlength="30" name="password" type="password" data-rules="required"  value="<%=data.data.password%>"></td>
            <td class="span4"><em class="text-red">* </em>角色：</td>
             <td>
                <%if(!data.data.is_system){%>
                    <select name="role_id"  class="js-selectbox" placeholder="请选择" data-rules="required" >
                        <% _.each(data.data.role, function (item) { %>
                            <option value="<%=item.key%>" <%=(item.s==1?"selected":"")%> ><%=item.value%></option>
                        <% }); %>
                    </select>
                <%} else if(data.data.is_system==0){%>
                <select name="role_id"  class="js-selectbox" placeholder="请选择" data-rules="required" >
                    <% _.each(data.data.role, function (item) { %>
                        <option value="<%=item.key%>" <%=(item.s==1?"selected":"")%> ><%=item.value%></option>
                    <% }); %>
                </select>
                <% }else if(data.data.is_system==1){ %>
                    系统管理员
                <% }; %>
            </td>
        </tr>

        

  
         <tr style="background-color: #f4f8fc;">
            <td class="span4" style="font-weight: 600;  border-bottom: 0;">范围权限：</td>
            <td colspan="4" style=" border-bottom: 0;">
                 <ul class="inline-group js-toggle-con">
                    <li title="全部范围 " style="width: 77px;">
                        <label class="checkbox">
                            <input type="checkbox" id="all-range"> 全部范围 </label>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td class="span4"></td>
            <td colspan="4">

                <table class="table table-listing table-hovered mb5 js-toggle-box">
                    <tbody>
                        <tr style="height: 70px;">
                            <td class="role-title" style="text-align: center;" >
                                <h1>执行小组(部门)</h1>
                            </td>
                            <td style="text-align: center;" >
                                <h2>客户</h2>
                            </td>
                        </tr>

                    </tbody>
                </table>
                 <% _.each(data.data.team, function (item) { %>
                   <table class="table table-listing table-hovered mb5 js-toggle-box">
                        <tbody>
                            <tr>
                                <td class="role-title">
                                    <label class="checkbox" title="排期计划">
                                        <input class="js-toggleall" type="checkbox"  value="<%=item.ckvalue%>" name="<%=item.ckname%>" <%=(item.s==1?"checked":"")%> > 
                                        <%=item.key%></label>
                                </td>
                                <td>
                                    <ul class="inline-group js-toggle-con">
                                        <% _.each(item.data, function (item) { %>
                                        <li title="整体排期">
                                            <label class="checkbox">
                                                <input type="checkbox" value="<%=item.ckvalue%>" name="<%=item.ckname%>" <%=(item.s==1?"checked":"")%>/> <%=item.key%></label>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <% }); %>
               
            </td>
        </tr>
      

        <tr>
            <td class="span4"></td>
            <td colspan="4">
			<input type="hidden" name="id" value="<%=data.data.id%>" />
                <input class="btn btn-blue" type="submit" value="提交">
                <a class="btn" href="#">取消</a>
            </td>
        </tr>
    </tbody>
</table>
</form>