<div class="datatable datatable-default mb20 js-tb" style="width:100%;">
<ol class="datatable-bd">   
    <!-- 固定显示部分-->
    <%for(var i=0;i<title.length-2;i++){
        if(title[i].type==1){%>
            <li class="datatable-col">
            <div class="datatable-col">
                <div class="datatable-cell datatable-gray" style="padding:0">
                    <div class="tbtitle"><%=title[i].name%></div>
                </div>
                <%if(data[title[i].key]){%>
                <% for(var j=0,arr = data[title[i].key];j<arr.length;j++){%>
                    <div class="datatable-cell" style="height: <%=(arr[j].num*h+arr[j].num-1)%>px;line-height: <%=h%>px" 
                        <%if(arr[j].value&&arr[j].value.toString().replace(/[^x00-xff]/g,"01").length>24){%>title="<%=arr[j].value%>"<%}%> >
                        <%=arr[j].value%>
                    </div>
                <%}%>
                <%}%>
            </div>
            </li>
        <%}else{
            break;
        }%>
    <%}%>

    <!-- 发票金额（核销月执行额） -->
    <li class="datatable-col">
        <div class="datatable-col">
            <div class="datatable-cell datatable-gray" style="padding:0">
                <div class="tbtitle"><%=title[i].name%></div>
            </div>
            <%if(data[title[i].key]){%>
            <%for(var j=0,arr = data[title[i].key] ;j<arr.length;j++){%>
                <div class="datatable-cell" style="height: <%=(arr[j].num*h+arr[j].num-1)%>px;line-height: <%=h%>px">
                    <% if(arr[j].type!="show"){%> 
                        <input type="text" class="js-amount-input" maxlength="12" value="<%=arr[j].value%>" data-value="<%=arr[j].value%>" data-id="<%=arr[j].key%>" name="<%=arr[j].name%>" data-max="<%=(arr[j].max?arr[j].max:0)%>"  data-tips="<%=(arr[j].tips?arr[j].tips:'')%>">
                    <%} else{%> 
                        <span class="js-amount-txt"><%=arr[j].value%></span>
                    <%}%>
                </div>
            <%}%>
            <%}%>  
        </div>
    </li>

    <!-- 回款金额 -->
    <% i++; %>
    <li class="datatable-col">
        <div class="datatable-col">
            <div class="datatable-cell datatable-gray" style="padding:0">
                <div class="tbtitle"><%=title[i].name%></div>
            </div>
            <%if(data[title[i].key]){%>
                <%for(var j=0,arr = data[title[i].key] ;j<arr.length;j++){%>
                    <div class="datatable-cell" style="height: <%=(arr[j].num*h+arr[j].num-1)%>px;line-height: <%=h%>px">
                        <span class="js-refund-txt" data-id="<%=arr[j].key%>"><%=arr[j].value%></span>
                    </div>
                <%}%>
            <%}%>  
        </div>
    </li>
</ol>

<div style="color:#444;font-weight:700;">总计金额：<span id="table-sum-amount"></span></div>
</div>
