/*项目补充样式文件，由前端工程师维护*/
.js-department-input span{
	width: 70px;
	display: inline-block;
	text-align: right;
}
.js-tb.datatable-default .datatable-col .tbtitle{
	display: inline-block;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1;
}
.js-tb.datatable-default .datatable-col{
	width: auto;
	min-width: 100px;
	max-width: 200px;
}
.js-tb-name label{
    display: inline-block;
    width: 160px;
}
.table.bus-list th{
    text-align: center;
    min-width: 56px;
}

.datatable-div{
    width:100%;
}
ol.datatable-bd-new{
    width:calc(50% - 2px);
    float: left;
    padding: 1px;
}
.js-selectbox{
    display: none;
}
.val-mid{
    vertical-align: middle
}
.icon-btn-wrap{position:relative;display:inline-block;margin:10px}
.tooltip{position:absolute;left:-22px;bottom:-28px;white-space:nowrap;box-shadow:0px 2px 8px #ccc;padding:4px}
.hide{display:none}
.d-menu-wrap{display:inline-block;text-align:center;vertical-align:top;margin:10px}
.unactive .menu-wrap{height:0;overflow:hidden}
.d-menu-wrap .menu-wrap{position:relative;z-index:1;margin-top:11px}
.d-menu-wrap .menu-wrap:before,.d-menu-wrap .menu-wrap:after{display:block;content:" ";position:absolute;left:50%;width:0;height:0;border-style:solid;border-color:transparent;border-top:0;margin-left:-10px}
.d-menu-wrap .menu-wrap:before{top:-10px;border-width:10px;border-bottom-color:rgba(0,0,0,0.239216)}
.d-menu-wrap .menu-wrap:after{top:-9px;border-width:10px;border-bottom-color:#fff}
.menu-wrap{display:inline-block;box-shadow:rgba(0,0,0,0.117647) 0px 1px 6px,rgba(0,0,0,0.239216) 0px 1px 4px;border-radius:2px}
.menu-item{padding:2px 12px}
.menu-item-selected{background:#ccc}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}

.s-menu-wrap{height:47px;background: #eee;}
.s-menu-wrap .s-menu-container{width: 1200px;margin: 0 auto;line-height: 47px; height: 100%;text-decoration: underline;}
.s-menu-wrap .s-menu-container .month-search{float: left;display: inline-block;}
.s-menu-wrap .s-menu-container .month-search .js-month{height: 24px;}
.s-menu-wrap .s-menu-container .js-filter{font-size: 12px;margin-left: 12px;}

.s-menu-wrap .s-menu-container .js-get-schedule{float: left;display: inline-block;vertical-align: middle;margin: 9px 0 0 10px;}
.s-menu{float:left;padding-left:45px;height:47px}
.s-menu-btn-wrap{float:right;width:108px;margin-top:10px}
.s-menu-btn-wrap .share-btn-wrap,.s-menu-btn-wrap .actions-btn-wrap{margin:0}
.s-menu-btn-wrap .share-btn-wrap{float:left}
.s-menu-btn-wrap .share-btn-wrap .s-btn,.s-menu-btn-wrap .share-btn-wrap .actions-btn-wrap{width:48px}
.s-menu-btn-wrap .actions-btn-wrap{float:right;width:48px;height:26px}
.s-menu-btn-wrap .actions-btn-wrap .menu-wrap{margin-left:-60px}
.s-menu-btn-wrap .actions-btn-wrap .menu-wrap .menu-item-text{width:auto}
.s-menu-btn-wrap .actions-btn-wrap .menu-wrap::before,.s-menu-btn-wrap .actions-btn-wrap .menu-wrap::after{left:auto;right:18px}
.s-menu-btn-wrap .actions-btn-wrap .d-menu-display-wrap .menu-item-text{color:#888;font-size:12px;width:32px;margin-left:4px;line-height:26px}


.menu-item{line-height:27px;height:27px}
.menu-item:hover{background:#f5f5f5;}
.menu-item-text{font-size:1.2rem;color:#333;display:inline-block;float:left;width:27px;line-height:27px;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.menu-item-selected{background:#fff}
.menu-item-delete{margin-top:9px}
.menu-item-delete hr{margin-top:-7px;margin-bottom:7px}
.menu-item-delete .menu-item-text{color:#ee837d}
.d-menu-wrap{height:27px;margin:10px 0 10px;vertical-align:top}
.d-menu-wrap .d-menu-display-wrap{position:relative;height:27px;cursor:pointer}
.d-menu-wrap .d-menu-display-wrap:hover{border-radius:1px;-webkit-box-shadow:0 0 0 1px #d6d6d6 inset;-moz-box-shadow:0 0 0 1px #d6d6d6 inset;-ms-box-shadow:0 0 0 1px #d6d6d6 inset;-o-box-shadow:0 0 0 1px #d6d6d6 inset;box-shadow:0 0 0 1px #d6d6d6 inset}
.d-menu-wrap.dropdown-menu-font-size .menu-wrap{margin-left:-16px}
.d-menu-wrap .menu-wrap{z-index:200;padding-top:3px;padding-bottom:10px;margin-left:-12px;margin-top:8px;background:#fff;-webkit-box-shadow:0 3px 4px rgba(136,136,136,0.4);-moz-box-shadow:0 3px 4px rgba(136,136,136,0.4);-ms-box-shadow:0 3px 4px rgba(136,136,136,0.4);-o-box-shadow:0 3px 4px rgba(136,136,136,0.4);box-shadow:0 3px 4px rgba(136,136,136,0.4)}
.d-menu-wrap .menu-item{cursor:pointer}
.d-menu-wrap.unactive .menu-wrap{padding:0}
.color-menu-selected{position:relative}
.color-underline,.background-underline{position:absolute;bottom:4px;left:9px;display:inline-block;width:11px;height:2px}
.color-underline-paint-brush{width:14px;left:7px}
.dropdown-menu-color{width:40px}
.dropdown-menu-color .menu-wrap{width:171px;margin-top:8px;margin-left:-75px;padding-left:10px;padding-right:10px}
.dropdown-menu-color .menu-item{float:left;width:15px;height:15px;padding:2px}
.dropdown-menu-color .menu-item:nth-child(1),.dropdown-menu-color .menu-item:nth-child(2),.dropdown-menu-color .menu-item:nth-child(3),.dropdown-menu-color .menu-item:nth-child(4),.dropdown-menu-color .menu-item:nth-child(5),.dropdown-menu-color .menu-item:nth-child(6),.dropdown-menu-color .menu-item:nth-child(7),.dropdown-menu-color .menu-item:nth-child(8),.dropdown-menu-color .menu-item:nth-child(9){padding-bottom:6px}
.dropdown-menu-color .menu-item-selected{background:#fff}
.color-menu-item{width:100%;height:100%}
.color-menu-item:hover{-webkit-box-shadow:0px 1px 3px #888;-moz-box-shadow:0px 1px 3px #888;-ms-box-shadow:0px 1px 3px #888;-o-box-shadow:0px 1px 3px #888;box-shadow:0px 1px 3px #888}
.color-menu-item:hover .color-picker-tooltip{display:block}
.color-menu-item .color-picker-tooltip{display:none;top:25px;left:9px}
.menu-item-selected-icon{width:5px;height:27px;padding-right:8px;background-position:-642px 0;color:#888;float:left}

..d-menu-wrap .menu-wrap:before,.d-menu-wrap .menu-wrap:after{left:50%;width:0;height:0;border-style:solid;border-color:transparent;border-top:0;margin-left:-7px}
.d-menu-wrap .menu-wrap:before{top:-8px;border-width:7px;border-bottom-color:rgba(136,136,136,0.1)}
.d-menu-wrap .menu-wrap:after{top:-7px;border-width:7px;border-bottom-color:#fff}
.s-menu .icon-btn-wrap{height:27px;text-align:center;color:#888;font-size:14px;margin:10px 0 10px;cursor:pointer}
.s-menu .icon-btn-wrap.selected{border-radius:1px;-webkit-box-shadow:0 0 0 1px #d6d6d6 inset;-moz-box-shadow:0 0 0 1px #d6d6d6 inset;-ms-box-shadow:0 0 0 1px #d6d6d6 inset;-o-box-shadow:0 0 0 1px #d6d6d6 inset;box-shadow:0 0 0 1px #d6d6d6 inset;background-color:#e5e5e5}
.s-menu .icon-btn-wrap:hover{border-radius:1px;-webkit-box-shadow:0 0 0 1px #d6d6d6 inset;-moz-box-shadow:0 0 0 1px #d6d6d6 inset;-ms-box-shadow:0 0 0 1px #d6d6d6 inset;-o-box-shadow:0 0 0 1px #d6d6d6 inset;box-shadow:0 0 0 1px #d6d6d6 inset}

.d-menu-display-wrap .s-toolbar-icon-sort-desc,.d-menu-display-wrap .s-toolbar-icon-sort-asc,.d-menu-display-wrap .s-toolbar-icon-sort-desc-area,.d-menu-display-wrap .s-toolbar-icon-sort-asc-area{width:30px;padding:0;background-position:-300px -27px}
.d-menu-display-wrap .s-toolbar-icon-freeze-row,.d-menu-display-wrap .s-toolbar-icon-freeze-col,.d-menu-display-wrap .s-toolbar-icon-freeze-row-col,.d-menu-display-wrap .s-toolbar-icon-unfreeze-row-col{width:30px;padding:0;background-position:-510px -27px}
.s-toolbar-icon{display:inline-block;position:relative;padding:0;height:27px;background-image:url("../images/toolbar.png");background-repeat:no-repeat;background-size:800px 67px}.s-toolbar-icon-go-ahead{width:30px;background-position:0 0}
.s-toolbar-icon-retreat{width:30px;background-position:-30px 0}
.s-toolbar-icon-paint{width:30px;background-position:-480px -27px}
.s-toolbar-icon-clear-format{width:30px;background-position:-510px -27px}
.s-toolbar-icon-bold{width:30px;background-position:-60px 0}
.s-toolbar-icon-italic{width:30px;background-position:-90px 0}
.s-toolbar-icon-underline{width:30px;background-position:-120px 0}
.s-toolbar-icon-strikethrough{width:30px;background-position:0 -27px}
.s-toolbar-icon-font-color{width:30px;background-position:-150px 0}
.s-toolbar-icon-paint-brush{width:30px;background-position:-30px -27px}
.s-toolbar-icon-align-left{width:30px;padding:0;background-position:-330px 0}
.s-toolbar-icon-align-center{width:30px;padding:0;background-position:-360px 0}
.s-toolbar-icon-align-right{width:30px;padding:0;background-position:-390px 0}
.s-toolbar-icon-align-justify{width:30px;padding:0;background-position:-420px 0}
.s-toolbar-icon-vertical-top{width:30px;padding:0;background-position:-90px -27px}
.s-toolbar-icon-vertical-middle{width:30px;padding:0;background-position:-120px -27px}
.s-toolbar-icon-vertical-bottom{width:30px;padding:0;background-position:-150px -27px}
.s-toolbar-icon-text-no-wrap{width:30px;padding:0;background-position:-240px -27px}
.s-toolbar-icon-text-wrap{width:30px;padding:0;background-position:-210px -27px}
.s-toolbar-icon-sort-desc{width:30px;padding:0;background-position:-270px -27px}
.s-toolbar-icon-sort-asc{width:30px;padding:0;background-position:-300px -27px}
.s-toolbar-icon-sort-desc-area{width:30px;padding:0;background-position:-330px -27px}
.s-toolbar-icon-sort-asc-area{width:30px;padding:0;background-position:-360px -27px}
.s-toolbar-icon-freeze{width:30px;padding:0;background-position:-420px -27px}
.s-toolbar-icon-mergecells{width:30px;padding:0;background-position:-60px -27px}
.s-toolbar-icon-ul-list{width:30px;background-position:-180px 0}
.s-toolbar-icon-ol-list{width:30px;background-position:-210px 0}
.s-toolbar-icon-check-list{width:30px;background-position:-240px 0}
.s-toolbar-icon-indent{width:30px;background-position:-270px 0}
.s-toolbar-icon-outdent{background-position:-300px 0}
.s-toolbar-icon-img{width:30px;background-position:-510px 0}
.s-toolbar-icon-checkone{width:10px;background-position:-626px 0}
.s-toolbar-icon-formula{width:30px;background-position:-688px 0}

.d-menu-display-wrap .s-toolbar-icon {
    float: left;
}


.js-datepicker-month{display: inline-block;border:none;text-align: center;}

ul.f-right{
    float:right;
    margin-top:10px;
}
ul.f-right li{
    width: 83px;
    float:left;
}
ul.f-right span{
    float:left;
    display: inline-block;
    padding:3px 9px;
    font-size:12px;
    text-align: center;
    min-width: 30px;
    line-height:20px;
    height: 20px;
}
ul.f-right span.color-red{
    background: rgb(255, 114, 114);
}
ul.f-right span.color-green{
    background: rgb(146, 208, 80);
}
ul.f-right span.color-purple{
    background: rgb(75, 186, 197);
}
ul.f-right span.color-blue{
    background: rgb(117, 152, 184);
}

ul.f-right span.gather-color-red{
     color: rgb(255, 0, 0);
}
ul.f-right span.gather-color-green{
    color: rgb(0, 176, 80);
}
ul.f-right span.gather-color-purple{
    color: rgb(0, 176, 240);
}
ul.f-right span.gather-color-blue{
    color: rgb(47, 117, 181);
}

ul.f-right span.color-gray{
    background: rgb(200, 203, 208);
}

#js-container .handsontable td,#execution-table .handsontable td{padding:0;}
#js-container .js-table{margin:0 auto;width:1200px}


.js-execution-close{
    width: 20px;height: 20px;
    margin-top:-20px;
}
.js-execution-popup{
    width: 1000px;
    height: 462px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -231px;
    border: 2px solid rgba(0,0,0,0.3);
    background: #fff;
    z-index: 222;
}
.js-execution-popup .title{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.js-execution-popup .js-close{
    float:right;cursor:pointer;margin-top:5px;margin-right:5px;width:16px;height:16px;overflow:hidden;text-indent:-999em;background:url(../images/sprite-si.png) no-repeat;background-position:-17px 0
}

.js-execution-popup .table{width: 1000px;height:65px;}

.js-execution-popup .execution-content{
    width:1000px;height:288px;overflow:hidden;
}
.js-ad-popup{
   position:absolute;width: 200px;background: #fff;border: 3px solid #ccc;padding:5px;
}
.ad-space-popup.js-execution-popup{height: 340px;margin-top:-170px;}

.handsontable td p.disabled{
    background-color:#c8cbd0;

}
.handsontable td p{
    height: 34px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    transform: scale(0.8);
}
.handsontable td p.schedule-part1,.handsontable td p.schedule-part2{height: 17px;line-height: 17px;text-align: center;}
.handsontable td p.schedule-part1{border-bottom:1px solid #bbb;height: 17px;line-height: 17px;}
.handsontable td {
    height: 40px;
    height: auto;
}
.ad-space-popup .handsontable td p{
    height: 20px;
    line-height: 20px;
}
