html {
  overflow-x: auto;
}
.pr5{padding-right: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.bold{font-weight: bold;}
/*新增Icon*/
.i-plus{
  background: url('../images/plus.png');
}
.i-minus{
  background: url('../images/minus.png');
}
.i-date{
  background: url('../images/date.gif');
}
.i-redirect{
  background: url('../images/redirect.gif');
}
/*左下固定工具栏*/
.toolbar-fixed{
  position: fixed;
  left:-1px;
  bottom: 0;
  border:1px solid #cad7e2;
  background-color: #f0f0f0;
  height:28px;
  line-height:28px;
  z-index: 99;
}
.toolbar-fixed ul{
  list-style: none;

}
.toolbar-fixed ul li{
  padding:0 10px;
  float: left;

}
.toolbar-fixed .toolbar-list{
  position: relative;
  overflow: hidden;
  float:left;
  background-color: #EBEDF4;
  z-index:1
}
.toolbar-fixed .toolbar-list a{
  color: #376ba8;
}
.toolbar-fixed .toolbar-label{
  width:150px;
  position: relative;
  float:left;
  z-index:2;
  text-align:center;
  border-right: 1px solid #ccd4da;
  background-color: #f3f3f3;
  height:28px;
}
.toolbar-fixed .toolbar-label a{
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #376ba8;
}
.toolbar-fixed .toolbar-trigger{
  width:28px;
  height:28px;
  position: relative;
  float:left;
  z-index:2;
  text-indent: -99px;
  letter-spacing:-99px;
  background: url('../images/expand.gif');
}
.toolbar-fixed .on{
  background: url('../images/collapse.gif');
}
/*行内组*/
ul.inline-group {

}
ul.inline-group li {
  float:left;
  margin-right: 5px;
}
ul.inline-group li label{
  width:200px;
  display: inline-block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.role-title{
  width:150px;
  font-weight: bold;
  background-color: #ececec
}
/*排期*/
.wd-scheduleMonth{height: auto; overflow-x: hidden;min-width:1146px; }
.wd-scheduleMonth a{color: #3B9ACB;}
.wd-scheduleMonth .month-left{ float: left; }
.wd-scheduleMonth .month-right{ float: left; }
.wd-scrollday{  width:940px;/*overflow-x:auto; overflow-y:hidden;max-width:857px;height: auto;*padding-bottom: 18px;*/}
.wd-navDay{ padding:5px 10px;border-top:1px solid #CAD7E2;border-right:1px solid #CAD7E2;font-weight: bold;/*width:837px;*/}
/*.wd-navDay span{ display: inline-block; font-weight: bold; width: 33%;*width: 32%; *display:inline; *zoom:1; }*/
.table-wdlisting{border-left: 1px solid #CAD7E2;table-layout:fixed;}
.table-wdlisting tr.wd-height{height: 62px;/* *height: 63px;*/}
.table-wdlisting tr.backgray,.wd-navDay{ background-color:#F4F8FC;}
.table-wdlisting th,.table-wdlisting td{text-align: center; padding: 5px;height: 20px;border:1px solid #CAD7E2; border-left: none;}
.table-wdlisting th.wd-offmonth{ color:#999999}
.table-wdlisting th.wd-today{ background-color: #C4C4C4;}
.table-wdlisting td.wd-solded{cursor: pointer;background-color:#4D87B9;}
.table-wdlisting td.wd-partsolded{cursor: pointer;background-color:#A0DAFF;}
.wd-title{width:180px;text-align:center;margin:0 auto;overflow:hidden;*zoom:1;white-space:nowrap;text-overflow:ellipsis}
.wd-leftnav-width{width:190px}
table.wd-table-width{width:100%;}
table.wd-borderNoleft{table-layout:fixed; border-left: none;}
table.wd-borderNoleft th,table.wd-borderNoleft td{ }
.wd-direction{border:1px solid #CAD7E2; border-top:0; padding:10px; background-color:#F4F8FC; margin-left:-202px;/*max-width: 1044px;*/}
.wd-direction span{display:inline-block; position: relative; padding-left:25px; margin-right:15px;}
.wd-direction span i{display:inline-block; width: 20px; height: 20px;border:1px solid #CAD7E2; position: absolute; top:0px; left: 0px;}
.wd-direction span i.solded{ background-color: #4D87B9;}
.wd-direction span i.partsolded{ background-color: #A0DAFF;}
.wd-direction span i.free{ background-color: #fff;}
/*排期详情弹窗*/
.wd-showbox{padding: 5px; width: 500px; height: auto; }
.wd-showbox .wd-nav{ overflow:hidden; position: relative; height: 31px;}
.wd-showbox .wd-navtab{ overflow:hidden; width:448px; position: absolute; left: 25px;}
.wd-navtab .wd-ullist{ padding-left: 0px; width: 10000px;}
.wd-navtab .wd-ullist li{ margin-bottom: 0px;}
.wd-navtab .wd-ullist li.lastchild{ margin-right: 0px;}
.wd-navtab .wd-ullist a{ display:inline-block; width:104px; text-align: center; float: left;}
.wd-showbox .wd-nav span{color: #3B9ACB; display: inline-block; height: 30px; line-height: 30px;position: absolute;}
.wd-showbox .wd-nav span.left{ left: 0px;}
.wd-showbox .wd-nav span.right{  right: 0px;}
.wd-showbox .wd-nav span a{ font-size: 24px; color: #3B9ACB;}

/*审核人*/
.auditmaster-wrap{background:#EBEDF4;padding:10px 10px 5px 10px;width:300px;}

/*物料*/
a.material-sample{display:block;width:200px;height:35px;line-height:35px;text-align: center;background-color: #EBEDF4}

/*进度条*/
.progressbar{ border:1px solid #CAD7E2; background-color: #F5F5F5;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset; border-radius:3px; height: 20px; line-height: 20px; overflow: hidden;}
.progressbar .progress-inner{ float:left;height: 100%;line-height: 20px; font-size: 12px;background: #709DD1; text-align: left;}
.progressbar .progress-inner .barbg{ display: inline-block; height: 100%;line-height: 20px;padding-left:5px;}

/*首页消息提醒table*/
.newstab th{ width: 110px;}
.newstab th.tc{ text-align: center;}
.red{ color: #FF0000;}

/*弹窗设置*/
.wd-time{ border-right: 1px solid #cccccc; text-align: center;}
.table-hovered tbody tr:hover th.wd-time{background-color:#ffffff;}

/*删除按钮×*/
.text-delete{font-size: 20px;font-weight: bold;color: #ff0000;}

/*左|中|右对齐块*/
.align-block-wrap{position:relative}
.align-block-wrap .align-block-left{position:absolute;left:0;}
.align-block-wrap .align-block-right{position:absolute;right:0}
.align-block-wrap .align-block-center{text-align:center;margin:0 auto;}

/*禁用按钮*/
a.disabled,input.disabled,.readonly a{cursor: not-allowed}

/*table长字段换行显示*/
.wd-tabWord{ overflow: hidden; word-wrap: break-word;}

.dataSelect-area .dataSelect-list ul.dropdown-submenu2{
    padding-left: 40px;
}
.dataSelect-listing .dataSelect-search .input1{position: absolute; width:130px; left:105px;}

.link-a{  color: #326FBA;}
.link-span{ font-weight: normal;}
.links{line-height: 30px; width: 240px;}
.links a{ padding: 0 10px;color: #326FBA;}
.links a.on{ font-weight: bold; font-size: 14px;}