<div class="datatable datatable-default mb20 js-tb border-table" style="width:100%;">
<ol class="datatable-bd"> 
    <% var len = title.length-1;%>

    <%for(var i=0;i<len;i++) {%>
        
            <!-- 固定显示部分-->
            <%for(;i<len;i++){%>
                    <li class="datatable-col">
                    <div class="datatable-col">
                        <div class="datatable-cell datatable-gray" style="padding:0">
                            <div class="tbtitle"><%=title[i].name%></div>
                        </div>
                        <% for(var j=0,arr = data[title[i].key];j<arr.length;j++){%>
                            <div class="datatable-cell" style="height: <%=(arr[j].num*h+arr[j].num-1)%>px;line-height: <%=h%>px" 
                                <%if(arr[j].value&&arr[j].value.toString().replace(/[^x00-xff]/g,"01").length>24){%>title="<%=arr[j].value%>"<%}%> >
                                <%=arr[j].value%>
                            </div>
                        <%}%>
                    </div>
                    </li>
            <%}%>
            
            <!-- 滚动隐藏部分-->
            <%i--;%>

    <%}%>

    <!-- 操作栏目 -->
    <li class="datatable-col">
        <div class="datatable-col">
            <div class="datatable-cell datatable-gray" style="padding:0">
                <div class="tbtitle"><%=title[i].name%></div>
            </div>
            <%for(var j=0,arr = data[title[i].key] ;j<arr.length;j++){%>
                <div class="datatable-cell" style="height: <%=(arr[j].num*h+arr[j].num-1)%>px;line-height: <%=h%>px">
                    <%for(var k=0;k<arr[j].value.length;k++ ){%>

                        <%if(arr[j].value[k].type=="text"){%>

                            <span style="color:#ccc" title="<%=arr[j].value[k].title%>"><%=arr[j].value[k].title%></span>

                        <%}else{%>

                            <a href="<%=(arr[j].value[k].url ? arr[j].value[k].url : 'javascript:;')%>" class="js-data-<%=arr[j].value[k].type%>" 
                                <%for(var temp in arr[j].value[k]){
                                    if(temp!="type"&&temp!="title"&&temp!="url"){%>
                                        data-<%=temp%> = "<%=arr[j].value[k][temp]%>"
                                    <%}
                                }%> >
                                <%=arr[j].value[k].title%>
                            </a>

                        <%}%>
                        
                    <%}%>
                </div>
            <%}%>
                
        </div>
    </li>
</ol>

<div class="mt20" data-view="page">
    
</div>
</div>

