<form id="js-form-validate" action="<%=ST.ACTION.editBusiness%>" method="">
<table class="table table-listing table-hovered">
    <tbody>
        <tr class="js-execution-tr">

            <td class="span4">执行单ID：</td>
            <td>
                <select name="execution_id" id="execution_id" placeholder="选择执行单ID" class="js-selectbox js-execution-selectbox" data-rules="">
                    <%for(var i=0;i<data.execution_id.length;i++){%>
                        <option value="<%=data.execution_id[i].key%>" <%=(data.execution_id[i].s==1?"selected":"")%> ><%=data.execution_id[i].value%></option>
                    <%}%>
                </select>

                <a href="javascript:;" class="btn js-execution">查看执行单详情</a>
            </td>
        </tr>

        <tr class="js-execution-relate-tr">
            <td class="span4"><em class="text-red">* </em>客户名称：</td>
            <td>
                <select name="company_id" id="company_id" placeholder="选择客户" class="js-selectbox js-relate-selectbox" 
                    data-relate-id="partner_id_select;product_id_select" data-relate-action="<%=ST.ACTION.getPartner%>;<%=ST.ACTION.getProduct%>" data-rules="required" >
                    <%for(var i=0;i<data.company_id.length;i++){%>
                        <option value="<%=data.company_id[i].key%>" <%=(data.company_id[i].s==1?"selected":"")%> ><%=data.company_id[i].value%></option>
                    <%}%>
                </select>
                <a href="<%=ST.ACTION.addConsumerUrl%>" class="btn">新增</a>
            </td>
        </tr>

        <tr class="js-execution-relate-tr">
            <td class="span4"><em class="text-red">* </em>合作方：</td>
            <td>
                <div class="inline-block">
                    <select name="partner_id" placeholder="选择合作方"  class="js-selectbox" data-rules="required" id="partner_id_select">
                        <%for(var i=0;i<data.partner_id.length;i++){%>
                            <option value="<%=data.partner_id[i].key%>" <%=(data.partner_id[i].s==1?"selected":"")%> ><%=data.partner_id[i].value%></option>
                        <%}%>
                    </select>
                </div>
               <!-- <a href="javascript:;" class="btn" id="js-add-partner">新增</a>-->
            </td>
        </tr>

        <tr class="js-execution-relate-tr">
            <td class="span4"><em class="text-red">* </em>产品名称：</td>
            <td>
                <div class="inline-block">
                <select name="product_id" class="js-selectbox" placeholder="请选择" data-rules="required" id="product_id_select">
                    <%for(var i=0;i<data.product_id.length;i++){%>
                        <option value="<%=data.product_id[i].key%>" <%=(data.product_id[i].s==1?"selected":"")%> ><%=data.product_id[i].value%></option>
                    <%}%>
                </select>
                </div>
                <a href="javascript:;" class="btn" id="js-add-product">新增</a>
            </td>
        </tr>

        <tr>
            <td class="span4"><em class="text-red">* </em>业务类型：</td>
            <td>
                <%for(var i=0;i<data.business_type.length;i++){%>
                    <label>
                        <input  data-rules="least" data-group="business_type" type="radio" name="business_type" data-holder="#business_type_help" 
                            value="<%=data.business_type[i].key%>"  <%=(data.business_type[i].s==1?"checked":"")%> >
                        <span class="pr10"><%=data.business_type[i].value%></span>
                    </label>
                <%}%>
                <div id="business_type_help" class="inline-block">
                </div>
            </td>
        </tr>

        <tr>
            <td class="span4"><em class="text-red">* </em>业务线：</td>
            <td class="js-business-type">
                <%for(var i=0;i<data.business_line.length;i++){%>
                <label>
                    <input type="checkbox" name="business_line[]" data-rules="least" data-group="business_line" data-holder="#business_line_help" 
                            value="<%=data.business_line[i].key%>" <%=(data.business_line[i].s==1?"checked":"")%> >
                    <span class="pr10"><%=data.business_line[i].value%></span>
                </label>
                <%}%>
                <div id="business_line_help" class="inline-block">
                </div>
            </td>
        </tr>

        <tr>
            <td class="span4">合同类型：</td>
            <td>
                <select name="contract_type" class="js-selectbox js-relate-selectbox" placeholder="请选择" id="contract_type_select"
                    data-relate-id="contract_ckey_select" data-relate-action="<%=ST.ACTION.getContract%>"   >
                    <%for(var i=0;i<data.contract_type.length;i++){%>
                        <option value="<%=data.contract_type[i].key%>" <%=(data.contract_type[i].s==1?"selected":"")%> ><%=data.contract_type[i].value%></option>
                    <%}%>
                </select>
            </td>
        </tr>
        
        <tr id="contract_ckey_select_td">
            <td class="span4">合同编号：</td>
            <td>
                <div class="inline-block">
                    <select name="contract_ckey" class="js-selectbox" placeholder="请选择" id="contract_ckey_select">
                        <%for(var i=0;i<data.contract_id.length;i++){%>
                            <option value="<%=data.contract_id[i].key%>" <%=(data.contract_id[i].s==1?"selected":"")%> ><%=data.contract_id[i].value%>
                            </option>
                        <%}%>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td class="span4"><em class="text-red">* </em>约定执行时间：</td>
            <td>
                <span>
					<input class="input input-small js-calender" type="text"  name="btime" placeholder="" value="<%=data.btime%>" readonly="readonly" data-rules="required">
                   <!-- <input class="input input-small" type="text" id="_calender1" name="btime" placeholder="" value="<%=data.btime%>" readonly="readonly" data-rules="required">-->
                </span>&nbsp;-&nbsp;
                <span>
					<input class="input input-small js-calender" type="text"  name="etime" placeholder="" value="<%=data.etime%>" readonly="readonly" data-rules="required">
                   <!-- <input class="input input-small" type="text" id="_calender2" name="etime" placeholder="" value="<%=data.etime%>" readonly="readonly" data-rules="required">-->
                </span>
            </td>
        </tr>

        <tr>
            <td class="span4"><em class="text-red">* </em>约定结款时间：</td>
            <td>
                <input class="input input-small js-calender" type="text"  name="paytime" placeholder="" value="<%=data.paytime%>" readonly="readonly" data-rules="required">
            </td>
        </tr>

        <tr id="trTmp">
            <td class="span4">
                预算金额：
            </td>
            <td>
                <input class="input input-small" type="text" id="budget"  maxlength="12" name="amount" value="<%=data.amount%>" data-rules="match(/^(-?\d+)(\.\d+)?$/)" data-msg="请输入数值">
            </td>
        </tr>

        <tr>
            <td class="span4">
                实际金额：
            </td>
            <td>
                <input class="input input-small" type="text" maxlength="12" id="amount" name="active_amount" value="<%=data.active_amount%>" data-rules="match(/^(-?\d+)(\.\d+)?$/)" data-msg="请输入数值">
            </td>
        </tr>
        

        <tr><!-- 联动-->
            <td class="span4"><em class="text-red">* </em>执行小组：</td>
            <td>
                <table class="table table-listing">
                <% if(!_.isArray(data.team)){ %>
                    <%for(var t in data.team){
                        var team_t = data.team[t];%>
                        <tr>
                            <td style="width: 100px; text-align: right;">
                        <span class="inline-block span3" style="text-align:left; width: auto;"><%= t%></span>
                            </td>
                            <td>
                            <%for(var i=0;i<team_t.length;i++){%>
                            <label for="" class="inline-block span3" style="text-align:left;width: auto;margin-left: 10px;">
                                <input type="checkbox" name="team[]" data-department-name="<%=team_t[i].key%>" 
                                is-checked="<%=team_t[i].s%>" data-rules="least" data-group="deparment" data-holder="#deparment_help"
                                    value="<%=team_t[i].value%>" <%=(team_t[i].s==1?"checked":"")%> >
                                <%=team_t[i].key%>
                            </label>
                            <%}%>        
                            </td>
                        </tr>
                    <%}%>
                <%}%>
                </table>
                <div id="deparment_help" class="inline-block"></div>
            </td>
        </tr>

        <tr><!-- 联动-->
            <td class="span4">预算金额拆分：</td>
            <td class="js-department-input-y">
                    <%for(var i=0; i< data.estimate_amount.length;i++){%>
                        <div class='m5'>
                            <span class='pr10' style="width: 200px"><%=data.estimate_amount[i].team%></span>
                            <input class='input input-small' name='<%=data.estimate_amount[i].name%>' type='text' value="<%=data.estimate_amount[i].value%>" data-rules="required"/>
                        </div>
                    <%}%>
            </td>
        </tr>

        <tr><!-- 联动-->
            <td class="span4">实际金额拆分：</td>
            <td class="js-department-input-act">
                <%for(var i=0;i<data.act_amount.length;i++){%>
                    <div class='m5'>
                        <span class='pr10'><%=data.act_amount[i].team%></span>
                        <input class='input input-small' name='<%=data.act_amount[i].name%>' type='text' value="<%=data.act_amount[i].value%>" data-rules="required"/>
                    </div>
                <%}%>
            </td>
        </tr>

        <tr>
            <td class="span4"><em class="text-red">* </em>确认函状态：</td>
            <td>
                <%for(var i=0;i<data.confirm_status.length;i++){%>
                <label>
                    <input type="radio" data-group="verify_type" data-rules="least" data-holder="#verify_type_help" name="confirm_status"
                         value="<%=data.confirm_status[i].key%>" <%=(data.confirm_status[i].s==1?"checked":"")%>>
                    <span class="pr10"><%=data.confirm_status[i].value%></span>
                </label>
                <%}%>
                <div id="verify_type_help" class="inline-block">
                </div>
            </td>
        </tr>

        <tr>
            <td class="span4">业务补充：</td>
            <td>
                <textarea name="remark" id="" cols="50" rows="5"><%=data.remark%></textarea>
            </td>
        </tr>

        <tr>
            <td class="span4"></td>
            <td>
                <input type="hidden" name="id" value="<%=data.id%>">
                <input class="btn btn-blue" type="submit" value="确定">
                <a class="btn" href="javascript:history.go(-1);">取消</a>
            </td>
        </tr>
    </tbody>
</table>
</form>